<p id="notice"><%= notice %></p>

<% if @user.id == current_user.id%>
<div class="jumbotron">
  <h1 class="display-4">  
  <strong>
  <%= @user.name %>
  </strong>
</h1>
  <p class="lead">
  <%= @user.username %>
  </p>
  <hr class="my-4">
    <%= @user.email %>
  <p>
  </div>
<%else%>
  YOu dont have persmisson
<%end%>

</div>


