<h1 class="display-4">Editing Item</h1>
<br/>
<%= render 'form', item: @item,  class:"btn btn-primary" %>
<br/>
<%= link_to 'Show', @item,  class:"btn btn-secondary" %> |
<%= link_to 'Back', items_path,  class:"btn btn-secondary" %>
